@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.storeBg{
    width: 100%;
}
.showCase {
    width: 100%;
    height: 316px;
    background-image: url('../../images/store_showcase.jpg');
}
.storeShowcase{
    padding: 70px 70px 0 120px;
}

.storeTitle, .storeDesc, .storeMoney {
    color: white;
}

.storeProductInfo{
    margin-top: 24px;
}
.storeProduct img{
    margin-right: 10px;
}

.storeTitle {
    width: 13%;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}

.storeDesc {
    width: 40%;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 36px;
}

.storeMoney {
    width: 15%;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.currentMoney {
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5028;
}

.categoryName {
    font-family: 'Inter';
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}

.storeInfo {
    padding-top: 70px;
    padding-left: 120px;
}

.storeProduct {
    width: 40%;
    background: white;
    border-radius: 4px;
    padding: 24px 24px 24px 24px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.storeProductIcon {
    height: 70px;
    width: 70px;
    margin-top: 29px;
}

.storeProductInfoTitle {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin-bottom: 8px;
}

.storeProductInfoDesc {
    width: 75%;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 34px;
}

.storeProductInfoPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    width: 35%;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF5028;
    margin-right: 30px;
}

.addCart {
    background: white;
    width: 35%;
    border-radius: 60px;
    border: 1px solid #FF5028;
    padding: 12px 32px 12px 32px;
    color: #FF5028;
    word-wrap: normal;
    flex-wrap: wrap;
}

.addCart:hover{
    cursor: pointer;
}

.carousel{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}