@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
body{
    background: #fafafa;
}

.showCase {
    width: 1249px;
    height: 316px;
    border-radius: 0px;
    background-image: url('../../images/store_showcase.jpg');
}

.container {
    flex-direction: row!important;
}

.sideBar {
    box-sizing: border-box;
}

.storeTitle, .storeDesc, .storeMoney {
    color: white;
}

.storeProductInfo{
    margin-top: 24px;
}

.storeTitle {
    width: 137px;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}

.storeDesc {
    width: 449px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 36px;
}

.storeMoney {
    width: 158px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.currentMoney {
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5028;
}

.categoryName {
    width: 90px;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 120px;
    margin-bottom: 24px;
    margin-top: 77px;
}

.storeInfo {
    padding-top: 70px;
    padding-left: 120px;
}

.storeProduct {
    background: white;
    height: 195px;
    width: 401px;
    border-radius: 4px;
    /* border: 1px solid rgb(190, 8, 8); */
    /* box-shadow: 20px 2px gray; */
    display: flex;
    justify-content: space-around;
    margin-left: 24px;
}

.storeProductIcon {
    height: 70px;
    width: 70px;
    border-radius: 0px;
    margin-top: 29px;
}

.storeProductInfoTitle {
    width: 180px;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 8px;
}

.storeProductInfoDesc {
    width: 271px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 34px;
}

.storeProductInfoPrice {
    display: flex;
}

.price {
    width: 98px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF5028;
    margin-right: 30px;
}

.addCart {
    background: white;
    width: 142px;
    border-radius: 60px;
    border: 1px solid #FF5028;
    padding: 12px, 32px, 12px, 32px;
    color: #FF5028;
}

.addCart:hover{
    cursor: pointer;
}

.carousel{
    width: 1000px;
    display: flex;
    margin-left: 96px;
    justify-content: space-between;
}