@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.achievement_block{
    margin-top: 70px;
}
.achievementBlock{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.achievement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 580px;
    margin-top: 30px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
    background: #fff;
    padding: 24px;
}

.achievementIcon {
    height: 70px;
    width: 70px;
    border-radius: 4px;
}

.achievementName {
    border-radius: 0;
    font-family: "Inter";
    font-size: 20px;
    margin-bottom: 8px;
}

.achievementDescription {
    font-size: 16px;
    color: #828282;
}