@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.main {
    flex-direction: row;
    width:  420px !important;
    text-align: center;
    height: 128px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    background: #FFFFFF;
}

.achievementIcon {
    height: 70px;
    width: 70px;
    left: 24px;
    top: 29px;
    border-radius: 4px;
}

.achievementName {
    height: 24px;
    width: 74px;
    left: 106px;
    top: 24px;
    border-radius: 0;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 8px;
}

.achievementDescription {
    height: 48px;
    width: 272px;
    left: 106px;
    top: 56px;
    border-radius: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #828282;
}

.achievement, .shortInfo{
    margin-top: 24px;
    margin-left: 24px;
}