@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.exit_links{
    display: flex;
    justify-content: flex-end;
}

.logoutIcon {
    height: 15.999999046325684px;
    width: 16.000001907348633px;
    border-radius: 0px;
}

.logoutBtn {
    height: 22px;
    width: 56px;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #2F80ED;
    text-decoration: none;
    margin-top: -3px;
    margin-left: 14px;
}