@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.pos{
    opacity: 0;
}

.level_block {
    padding: 24px;
    width: 35%;
    border-radius: 4px;
    flex-direction: column;
    margin-right: 20px;
    background: #fff;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
}

.levelNumber {
    height: 34px;
    width: 31px;
    font-family: Inter;
    font-size: 28px;
}

.levelTitle {
    height: 19px;
    width: 65px;
    font-size: 16px;
    text-align: left;
    margin-top: 9px;
    margin-left: 6px;
}

.currentLevel {
    padding-bottom: 25px;
}

.nextLevelInfo {
    height: 15px;
    width: 195px;
    font-size: 12px;
}

.nextLevelInfo {
    margin-top: -24px;
}

.nextLevelIcon {
    left: 300px;
    top: -33px;
}

.nextLevelNumber {
    position: relative;
    left: 315px;
    top: -70px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    color: white;
}