@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');





.containerLogin{
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-around;
}

.navbar {
    margin-top: 140px;
    margin-left: 1150px;
}

.link:nth-child(1) {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    margin-right: 50px;

}

.link:nth-child(2) {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 50px;
}

.link:nth-child(3) {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding-right: 270px;
}

.content {
    display: flex;
}

.login-form {
    margin-top: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

.banner-img {
    height: 826px;
    width: 826px;
    border-radius: 0px;
    margin-left: 40px;
}

.form-title {
    height: 39px;
    width: 299px;
    left: 1188px;
    top: 500px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

input:nth-child(1){
    margin-top: 48px;
}

input {
    height: 54px;
    width: 360px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 18px;
    border: 1px #E0E0E0 solid;
    padding-left: 20px;
    outline: none;
}

input::placeholder {
    height: 22px;
    width: 70px;
    border-radius: 0;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.submit-btn {
    height: 54px;
    width: 360px;
    border-radius: 4px;
    background: #FF5028;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: none;
    margin-top: 36px;
}