*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background: #fafafa;
}
.container{
    display: flex;
    justify-content: flex-start;
}
.content {
    width: 100%;
}
.ratingSelect{
    border: 1px solid #BDBDBD;
    height: 30px;
    width: 180px;
    border-radius: 4px;
    margin-left: 10px;
}