@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.avatar_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    height: 64px;
    width: 64px;
}

.shortInfo{
    margin-left: 12px;  
}

.name {
    border-radius: 0;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.id {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    display: inline;
}