@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.scoresItems {
    width: 240px;
    border-radius: 4px;

    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
}

.scoresCount {
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
}

.scoresTitle {
    font-family: Inter;
    font-size: 16px;
}

.todayScoresInfo {
    font-size: 12px;
    color: #828282;
}

.generalRating {
    font-size: 16px;
    color: #2F80ED;

}