@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.shortContacts {
    display: flex;
    flex-direction: column;
}

.contactTitle {
    font-family: "Inter";
    font-size: 16px;
    color: #828282;
}

.phoneNumber {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.email {
    font-size: 18px;
}

