@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.shortContacts {
    display: flex;
    flex-direction: column;
}

.contactTitle {
    height: 19px;
    width: 193px;
    left: 393px;
    top: 263px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.phoneNumber {
    height: 22px;
    width: 159px;
    left: 392px;
    top: 298px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 12px;
}

.email {
    height: 22px;
    width: 279px;
    left: 392px;
    top: 332px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

